<div class="content">
  <div class="col-md-12">
   <div class="card">
       <div class="card-header">
           <h5 class="title">Araç Ekle</h5>
       </div>
       <div class="card-body">
        <form [formGroup]="carAddForm">
        <div class="form-group">
            <input type="text" id="modelName" formControlName="modelName" class="form-control" placeholder="Araç Adı"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="Modeli"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="Rengi"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="number" id="minFindexScore" formControlName="minFindexScore" class="form-control" placeholder="Minimum Findexi"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Günlük Kirası"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklaması"/>
        </div>
        <br/>
        <div class="form-group">
            <input type="number" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Yılı"/>
        </div>
        <br/>
        </form>
       </div>
       <div class="card-footer">
           <button class="btn btn-primary" (click)="add()" >Ekle</button>
       </div>
   </div>
    

  </div>
  
</div>
